.trailsText {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: #F5F5F5;
    font-size: 6em;
    font-weight: 800;
    letter-spacing: -0.05em;
    will-change: transform, opacity;
    overflow: hidden;
  }
  
  .trailsText > div {
    padding-right: 0.05em;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }


.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 20;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
  /* background-size: cover; Adjusted property */
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}


#one {
  background-image: url(../images/home/1.png);
}

#two {
  background-image: url(../images/home/2.png);
}

#three {
  background-image: url(../images/home/3.png);
}

#four {
  background-image: url(../images/home/4.png);
}

#five {
  background-image: url(../images/home/5.png);
}

#six {
  background-image: url(../images/home/6.png);
}

#seven {
  background-image: url(../images/home/7.png);
}

#eight {
  background-image: url(../images/home/8.png);
}

#nine {
  background-image: url(../images/home/9.png);
}
