@tailwind base;
@tailwind components;
@tailwind utilities;

.full-height {
  height: 100vh;
}

.half-height {
  height: 50vh;
}

.most-height {
  height: 75vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1b1b; /* Set the background color to black */
  color: #F5F5F5; /* Set the text color to white */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

